$mainColor: #673AB7;
$mainColor300: #9575CD;
$mainColor100: #D1C4E9;
$secondColor: #F44336;
$startButton: #4CAF50;
$mainTextWhite: rgba(255, 255, 255, 1);
$additionalTextWhite: rgba(255, 255, 255, 0.7);
$unactiveTextWhite: rgba(255, 255, 255, 0.5);
$mainTextBlack: rgba(0, 0, 0, 0.87);
$additionalTextBlack: rgba(0, 0, 0, 0.54);
$unactiveTextBlack: rgba(0, 0, 0, 0.38);
@mixin flexColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@mixin flexRow {
    display: flex;
    justify-content: center;
    align-items: center;
}
